altgraph==0.17.4
asgiref==3.7.2
distlib==0.3.8
Django==5.0.2
filelock==3.13.1
numpy==1.26.2
packaging==23.2
pandas==2.1.4
pefile==2023.2.7
platformdirs==4.1.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
pypdfium2==4.25.0
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
setuptools==69.0.2
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.25.0
